<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Tree View</mat-card-title>
    <mat-card-subtitle>Available Interviews</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <button mat-button (click)="loadInterview(node.type)">Load</button>{{node.filename}} : {{node.type}}
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.filename}} : {{node.type}}
      </mat-tree-node>
    </mat-tree>
  </mat-card-content>
  <mat-card-actions>
    <!--    <button mat-button>LIKE</button>-->
    <!--    <button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>XD Interview</mat-card-title>
    <mat-card-subtitle>The interview will display here once you have clicked "load" in the above tree</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-template xpressdox-interview-host></ng-template>
  </mat-card-content>
  <mat-card-actions>
    <!--    <button mat-button>LIKE</button>-->
    <!--    <button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>
